:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-pictureweweweweweweweweweweweevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjj
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-bwewwutton;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
sjjwwwwwwwwwwwwwwwwwwwwwwwe
create :picture-in-picturevkv
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper
:read-onlyh;
::-webkit-file-upload-button;
:right;
foreignObject;
data;
g   kbm  gjbnbhh jbbjfbbjdbbufb n  vbf
::spelling-error
create :picture-in-picturevkv ::grammar-error
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-text-blockp
video ::-webkit-progress-inner-value ::-webkit-validation-bubble-arrow-clipper