body{
   background-color: chartreuse;
  }  
  body{
  text-size-adjust: 62;
    font-size: x-large;
    border-color: darkred;
    border-top-color: darkred;
    lighting-color: green;
scrollbar-color: darkred;
  }
  body{
    block-size: 0vw 
    The blocks are basic units of structure in Minecraft that make up the game's world. Many blocks can be collected and placed anywhere in the game's world, as well as be used as helpful resources.
Blocks are arranged in a 3-dimensional grid of 1-cubic-meter cells, although some blocks appear to occupy a partial cell; these include slabs, snow layers, ladders, vines, stairs, turtle eggs, sea pickles, and others.

Together, blocks and fluids build up the in-game environment, and most can be harvested and utilized in various fashions. Some blocks, such as dirt and sandstone, are opaque and occupy their entire cubic meter, while other blocks, such as glass and flowers, are transparent or non-solid. Explosions destroy some blocks more easily than they destroy others.

Air is a special block. It is an unbreakable transparent block, as a substitute for the absence of blocks. It has two variants: cave air and void air‌[Java Edition only].

Some blocks, such as sea lantern and glowstone, emit light. The amount of light they emit varies widely; see this table of light values for further information. Opaque blocks completely block light, while transparent blocks can have no effect on light, block the light, or merely weaken it.

Almost all blocks ignore gravity, except for sand, red sand, gravel, anvils, dragon eggs, concrete powder, scaffolding, snow‌[BE only] and pointed dripstone, all of which turn into entities when their support is removed.

When broken, blocks emit sounds and particles associated with themselves, except in the following cases:

When the block is removed by a piston.[1]
If the block is affected by gravity and falls into an invalid space (If the block is gravity based and drops from a torch, for example).‌[Java Edition only][2]
Anvils that are destroyed by running out of durability or falling. Only particles are missing.[3]
If the block can be washed away and is washed away by a flowing fluid.[4]
If the block can be replaced by other blocks and is replaced.[5]
If the block is one of a few blocks such as rails or redstone wire, supported by another block and its supporting block is removed.[6]
If the block is leaves and decays.[7]
Block height
Main article: Solid block § Height
Most solid blocks are 1 meter high (3.28084... feet or 1250⁄381 feet), but several blocks have non-standard block heights, such as slabs.

A player can automatically step up from a lower to a higher height if the difference is at most 0.6 (3⁄5) of a block or 1.9685... feet (250⁄127 feet).

Textures
The textures on the faces of blocks are 16×16 pixels. Most blocks are proportionately one cubic meter by default, but their shape can be changed using models.

Most blocks have static textures, but these blocks are animated: water, lava, nether portal, end portal, end gateway, prismarine (slab; stairs; wall), sea lantern, magma block, seagrass, kelp, fire, lantern, lit campfire and their soul variants, lit blast furnace, heat block‌[BE & EE only], stems, hyphae, lit smoker, stonecutter and command block.

Using resource packs, the player can change the textures and resolution of blocks, including whether their texture is animated. They can also change the shapes of blocks using models and the size of blocks to any size with equal width and height, though sizes that are a power of two tend to work better.

List of blocks
Painting.png
This section uses many images. 
It is not recommended for people with limited or slow internet connections to read through this page.
Click show/hide to show or hide the list[]
Technical blocks
See also: Direct item forms of blocks
Technical blocks serve various purposes during events within the game, or use a separate name spaced ID in order to avoid unnecessary combinations of block states. In Java Edition technical blocks do not exist as items, while in Bedrock Edition they may be obtained using inventory editors or add-ons.

Click show/hide to show or hide the list[]
Education Edition only
These blocks can be accessed only in Education Edition and in Bedrock Edition when education options are enabled (Elements are not listed here). In Bedrock Edition, boards, posters, and slates can be obtained only through inventory editors.

Click show/hide to show or hide the list[]
Removed blocks
Removed blocks no longer exist in current versions of the game.

Outright removed blocks
These blocks were removed from the game entirely.

Click show/hide to show or hide the list[]
Removed through substitution
These blocks were "reconned" into other blocks through a major simultaneous name and texture change.

Click show/hide to show or hide the list[]
Extreme metadata variants
Some blocks and states of blocks were distinguished via numerical metadata in previous versions of the game. Having metadata values outside of the accepted range could produce unintended results for some block IDs.

Click show/hide to show or hide the list[]
Joke blocks
These blocks only exist in April Fools versions of the game.

Click show/hide to show or hide the list[]
}
