body{
  background-color: rgb(104, 205, 50);
  font-size: xx-large;
  outline: 8px ridge rgba(219, 96, 20, 0.742);
border-radius: 2rem;   
}
html{
    p {
        animation-duration: 3s;
        animation-name: slidein;
       }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        75% {
          font-size: 300%;
          margin-left: 25%;
          width: 150%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
      
}

html{
    .auto-spaced-linear-gradient {
        background: linear-gradient(red, yellow, blue, orange);
      }
      
}
head{
  label {
    font-family: "Fira Sans", sans-serif;
}
}

body{
  .shape {
    padding: 20px;
    margin: 20px;
    border: 10px solid black;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
  
  <div class="box">
  <div class="shape"></div>
    <p>One November night in the year 1782, so the story runs,
    two brothers sat over their winter fire in the little French town of Annonay,
    watching the grey smoke wreaths from the hearth curl up the wide chimney.
    Their names were Stephen and Joseph Montgolfier, they were papermakers by trade,
    and were noted as possessing thoughtful minds and a 
    Deep interest in all scientific knowledge and new discovery.</p>
</div>
  }  
}

