
body{
text-decoration: rgb(24, 9, 54);
font-size: x-large;
border-color: darkred;
border-top-color: darkred;
lighting-color: green;
scrollbar-color: darkred;
}
body{
The etho slab is a joke slab introduced exclusively in Java Edition 2.0. It is a reference to the YouTube channel EthosLab.


Contents
1	Obtaining
1.1	Breaking
1.2	Crafting
2	Usage



Obtaining
Breaking
Punching the block breaks it instantly and it drops in item form.

Crafting
Etho slabs are crafted using 3 TNT blocks.

Ingredientstnt
	Crafting recipe
TNT+tnt+tnt=Etho slabs

6
Usage
Etho slabs behave like TNT although there is a 25 % chance to spawn a falling anvil one block above the nearest player up to 20 blocks away.
}